.register-section-2{
    background-image: url('../assets/login.jpg');
    background-position: center;
    width: 100%;
    height: 100vmin;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}