* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.register-section{
    background-image: url('../assets/wall.jpg');
    background-position: center;
    width: 100%;
    height: 100vmin;
    background-size: cover;
    position: relative;
}
.register-container{
    background-color: #fff;
    width: 30rem;
    padding: 4rem 3rem;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    float: right;
    margin-right: 8rem;
    margin-top: 3.5rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
label{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}
.uploader{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid #c5c5c5;
    
}
p{
    color: #c7c7c7;
}
form input{
    font-size: 1.2rem;
    padding: 1rem;
    outline: none;
    border:1px solid;
    border-radius: 10px;
    border-color: #c5c5c5;
}
.heading{
    position: absolute;
    top: 35vh;
    left: 8vw;
    font-family: sans-serif;
    color: #ffffff;
    text-shadow: 
    -1px -1px 0 #7d6b6b,  
     1px -1px 0 #7d6b6b,
    -1px  1px 0 #7d6b6b,
     1px  1px 0 #7d6b6b;
}
.heading h1{
    -webkit-text-stroke: 2px black;
    font-size: 6rem;
}
.btn{
    background-color: #000;
    border: none;
    outline: none;
    padding: 1rem 0;
    border:1px solid;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.8s ease-in-out;
}
.btn:active{
    transform: scale(0.9);
}