@import "../mixins.scss";

.listing-details {
  padding: 40px 130px 120px;

  @include xl {
    padding: 40px 80px 120px;
  }

  @include lg {
    padding: 40px 50px 120px;
  }

  @include sm {
    padding: 40px 20px 120px;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include sm {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }

    h1 {
      @include sm {
        font-size: 26px;
      }
    }

    .save {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      p {
        font-size: 20px;
        font-weight: 700;
        margin: 0;
      }
    }
  }

  .photos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;

    img {
      max-width: 280px;
    }
  }

  hr {
    margin: 20px 0;
  }

  .profile {
    display: flex;
    gap: 20px;
    align-items: center;

    img {
      width: 60px;
      height: 60px;
      margin: 0;
    }
  }

  p {
    max-width: 800px;
    margin-top: 20px;
  }

  .booking {
    display: flex;
    justify-content: space-between;

    @include lg {
      flex-direction: column;
      gap: 50px;
    }

    .amenities {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 100px;
      margin: 30px 0;
      max-width: 700px;

      @include sm {
        grid-column-gap: 20px;
      }

      .facility {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;

        &_icon {
          font-size: 30px;
        }

        p {
          margin: 0;
        }
      }
    }

    .date-range-calendar {
      margin: 30px 0;

      h2 {
        margin-bottom: 10px;
      }

      .button {

        margin-top: 40px;
        padding: 1.2rem 3.2rem;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #76ABAE;
        color: white;
        outline: none;
        border: none;
        border-radius: 6px;
        transition: all 0.5s;
        cursor: pointer;

        // @include buttonStyle;

        &:hover {
          box-shadow: 0 1px 3px 2px rgb(117, 117, 117);
        }

        width: 100%;
        margin-top: 30px;

        @include lg {
          max-width: 300px;
        }
      }
    }
  }
  p{
    color: rgba(0, 0, 0, 0.8);
  }
}