@import "../mixins.scss";

.title-list {
  margin: 40px 100px;
  color: #76ABAE;

  @include sm {
    margin: 40px 50px;
  }
}

.list {
  padding: 0 100px 120px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 25px;
  margin-left: 80px;
  margin-right: 80px;

  @include xl {
    padding: 0 20px 120px;
  }
}